networks:
  main:
    name: python-fastapi-network

services:
  python-fastapi-postgres:
    container_name: python-fastapi-postgres
    image: "public.ecr.aws/docker/library/postgres:18-alpine"
    ports:
      - "5432:5432"
    environment:
      - "POSTGRES_USER=myuser"
      - "POSTGRES_PASSWORD=superpassword"
    networks:
      main:
        aliases:
          - python-fastapi-postgres
  prism-mock-open-api:
    container_name: prism-mock-open-api
    image: "public.ecr.aws/logistics/stoplight/prism:3.2.7"
    ports:
      - "4010:4010"
    volumes:
      - ./sample-openapi-spec.json:/tmp/sample-openapi-spec.json
    command: mock -h 0.0.0.0 /tmp/sample-openapi-spec.json